$floral-white: #fbf7ef;
$red: #fb2335;
$grey: #b3aa94;
$black: #000c14;
$font-family: "Poppins", san-serif;

nav {
  display: flex;
  background-color: $floral-white;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
}
#logo{

  padding: 20px;
  margin-top: 20px;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 70%;

  li {
    font-size: 1.9rem;
    font-family: $font-family;
    margin: 20px;
    padding: 30px;
  }
  a {
    text-decoration: none;
    color: $red;
    font-size: 1.2rem;
    transition: color 0.5s ease;
    &:hover{
      color: $black;
    }
  }
}
nav a {
  color: $red;
  font-size: 1.8rem;
  font-family: $font-family;
  margin-left: 20px;
}
button.hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    background-color: $floral-white;
    min-height: 90vh;
    z-index: 1000;
    width: 100%;
    flex-direction: column;
    top: 0;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 500ms ease-out;
    li {
      font-size: 1.2rem;
      margin: 0;
      padding: 15px;
    }
    a{
      font-size: 1.1rem;
    }
  }
  .nav-list.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }
  nav {
    position: relative;
  }
  button.hamburger {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    cursor: pointer;
    transform: translate(-5%, -50%);
  }
   #logo  {
    position: absolute;
    top:30%;
    left: -5%;
    transform: translate(-5%, -50%);
    font-size: 2rem;
    img{
      width: 40px;
    }
  }
}
@media screen and( min-width:1440px){
  #logo{
    img{
      width: 55px;
    }
  }
}