@import 'navbar';
@import 'about';
@import 'featuredProjects';
@import 'contact';
@import 'footer';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




*{
    padding:0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    $font-family : "Poppins";
    $floral-white : #FBF7EF;
    $red : #FB2335;
    $grey : #B3AA94;
    $black : #000c14;
    $font-family : "Poppins",san-serif;
    &::selection{
      background-color: $red;
      color: $floral-white;
    }
}
body{
  overflow-x: hidden;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* 
We start creating for mobile then add
media queries for large screens afterwards
 */

/*  Hero section
 */
 .container {
    width: 100%;
    overflow-x: hidden;
    //min-height: 80vh;
    background-color: $floral-white;
    padding: 30px;
    font-family: $font-family;
  }
  .hero-content{
    padding: 20px 0px;
    width: 95%;
    margin: 0px auto 10%; 
    .hero-lg-intro{
      h1{
      font-weight: 600;
      color: $red;
      font-size: 35px;
      padding-bottom: 5px;
      &::after {
        content: "";
        width: 5px;
        height: 5px;
        background-color: $red;
        display: inline-block;
        border-radius: 50%;
      }
      }
      h2{
        font-weight: 800;
        line-height: 38px;
        color: $black;
        font-size: 36px;
        padding-bottom: 10px;
        &::after {
          content: "";
          width: 5px;
          height: 5px;
          background-color: $black;
          display: inline-block;
          border-radius: 50%;
        }
        span {
          color: $grey;
        }
      }
    }
     .hero-text{
       padding: 0px 0px 20px;
       p {
        font-size: 0.8rem;
        line-height: 20px; 
       }
     }
     .hero-btn {
       button{
      background-color: $floral-white;
      width: 150px;
      height: 40px;
      outline: none;
      border: 2px solid $red;
      color: $red;
      text-transform: capitalize;
      padding: 10px 5px;
      cursor: pointer;
      font-size: .8rem;
      text-align: center;
      font-family: $font-family;
      transition: background-color 0.4s ease-out;
      &:hover{
        background-color: $red;
        color: $floral-white;
        transform: scale(1.02);
      }
       }
    } 
  }
@media screen and (min-width: 576px){
    .hero-content{
      width: 99%;
      h5{
        font-size: 15px;
      }
      .hero-lg-intro{
        h1{
          font-size:38px;
          &::after{
            width: 7px;
            height: 7px;
          }
        }
        h2{
          font-size: 38px;
          font-weight: 900;
          padding-bottom: 20px;
          &::after{
            width: 7px;
            height: 7px;
          }
        }
      }
      .hero-text{
        width: 80%;
        padding: 0px 0px 30px;
      }
      .hero-btn{
        button{
        width: 180px;
        height: 50px;
        font-size: 1rem;
        }
      }
    }
} 
@media screen and (min-width: 768px){
  .container {
     padding: 50px;
  }
    .hero-content{
      h5{
        font-size: 18px;
      }
      .hero-lg-intro{
        h1{
          font-size:40px;
          &::after{
            width: 8px;
            height: 8px;
          }
        }
        h2{
          font-size: 49px;
          font-weight: bold;
          padding-bottom: 30px;
          &::after{
            width: 9px;
            height: 9px;
          }
        }
      }
      .hero-text{
        width: 70%;
        p{
          font-size: .9rem;
        }
      }
    }
  }
@media screen and (min-width: 1000px){
      .hero-content{
        margin-top: 3%;
        .hero-lg-intro{
          h1 {
        font-size: 4rem;
        &::after{
          width: 9px;
          height: 9px;
        }
          }
          h2{
            font-size: 4.2rem;
            line-height: 80px;
            &::after{
              width: 10px;
              height: 10px;
            }
          }
       }
       .hero-text{
        width: 60%;
        p{
          font-size: 1rem;
        }
      }
      .hero-btn{
        button{
        width: 180px;
        height: 50px;
        font-size: 1.1rem;
        }
      }
      }      
    }
@media screen and (min-width: 1200px){ 
  .hero-content{
    width: 95%;
    .hero-text{
      width: 45%;
      p{
        line-height: 25px;
      }
    }
  } 

}
@media screen and (min-width: 1440px){
  .hero-content{
    h5{
      font-size: 22px;
    }
      .hero-lg-intro{
        h1 {
      font-size: 4.5rem;
      &::after{
        width: 11px;
        height: 11px;
      }
        }
        h2{
          font-size: 4.8rem;
          &::after{
            width: 12px;
            height: 12px;
          }
        }
      }
      .hero-text{
        width: 44%;
        p{
          font-size: 1.1rem;
          line-height: 27px;
        }
      }
      .hero-btn{
        button{
        width: 200px;
        height: 60px;
        font-size: 1.2rem;
        }
      }
  }
}


/* Thank you 
section */

.thank-you{
  background-color: $floral-white;
  font-family: $font-family;
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  .thank-you-header h2{
    font-size: 2rem;
    margin-top: 40%;
    //margin-bottom: 40%;
  } .pleasant{
    margin: 0px 0px 10%;
  }
}
@media screen and (min-width: 576px){
  .thank-you{
  .thank-you-header h2{
    font-size: 2.5rem;
  }
  .pleasant{
    font-size: 1.2rem;
  }
  }
}
@media screen and (min-width: 768px){
  .thank-you{
  .thank-you-header h2{
    font-size: 2.8rem;
  }
  }
}
@media screen and (min-width: 1000px){
  .thank-you{
  .thank-you-header h2{
    font-size: 4rem;
  }
  .pleasant{
    margin-top: 10%;
    font-size: 1.5rem;
  }
  }
}
@media screen and (min-width: 1200px){
  .thank-you{
  .thank-you-header h2{
    font-size:5rem;
  }
  }
}
@media screen and (min-width: 1440px){
  .thank-you{
  .thank-you-header h2{
    font-size: 6rem;
  }
  .pleasant{
    font-size: 2.2rem;
  }
  }
}