@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fbf7ef;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  width: 100%;
}

#logo {
  padding: 20px;
  margin-top: 20px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  width: 70%;
}

.nav-list li {
  font-size: 1.9rem;
  font-family: "Poppins", san-serif;
  margin: 20px;
  padding: 30px;
}

.nav-list a {
  text-decoration: none;
  color: #fb2335;
  font-size: 1.2rem;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.nav-list a:hover {
  color: #000c14;
}

nav a {
  color: #fb2335;
  font-size: 1.8rem;
  font-family: "Poppins", san-serif;
  margin-left: 20px;
}

button.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    background-color: #fbf7ef;
    min-height: 90vh;
    z-index: 1000;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  .nav-list li {
    font-size: 1.2rem;
    margin: 0;
    padding: 15px;
  }
  .nav-list a {
    font-size: 1.1rem;
  }
  .nav-list.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }
  nav {
    position: relative;
  }
  button.hamburger {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    cursor: pointer;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
  }
  #logo {
    position: absolute;
    top: 30%;
    left: -5%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    font-size: 2rem;
  }
  #logo img {
    width: 40px;
  }
}

@media screen and (min-width: 1440px) {
  #logo img {
    width: 55px;
  }
}

.about-me {
  background-color: #000000;
  color: white;
  font-family: "Poppins", san-serif;
  width: 100%;
  padding: 30px;
}

.about-me .about-content {
  width: 95%;
  margin: 0px auto 14%;
}

.about-me .about-content .about-hr hr {
  border: none;
  background-color: #fbf7ef;
  height: 1px;
}

.about-me .about-content .about-hr h2 {
  font-size: 1.5rem;
  padding-bottom: 3px;
}

.about-me .about-content .about-hr h2::after {
  content: "";
  background-color: #fb2335;
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
}

.about-me .about-content .tab {
  overflow: hidden;
  padding: 8px 0px;
}

.about-me .about-content .tab button {
  outline: none;
  border: none;
  margin-right: 5px;
  width: 45px;
  padding-bottom: 4px;
  color: #fbf7ef;
  background-color: #000000;
  font-family: "Poppins", san-serif;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about-me .about-content .tab button.active {
  border-bottom: 1px solid #fb2335;
}

.about-me .about-content .tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}

.about-me .about-content .tabcontent p {
  font-size: 0.8rem;
  line-height: 20px;
  padding-bottom: 24px;
}

.about-me .about-content .tabcontent h3 {
  padding-bottom: 8px;
}

.about-me .about-content .image-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 150px;
}

.about-me .about-content .image-profile .box {
  border: 1.5px solid #fb2335;
  width: 130px;
  height: 130px;
}

.about-me .about-content .image-profile:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about-me .about-content img {
  margin-left: 15px;
  width: 100%;
  height: 130px;
  position: relative;
  top: -10px;
  left: -8px;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 576px) {
  .about-me .about-content .about-hr h2 {
    font-size: 1.8rem;
    padding-bottom: 6px;
  }
  .about-me .about-content .about-hr h2::after {
    content: "";
    width: 6px;
    height: 6px;
  }
  .about-me .about-content .tab {
    padding: 15px 0px;
  }
  .about-me .about-content .tab button {
    width: 60px;
    font-size: 1rem;
    margin-right: 10px;
  }
  .about-me .about-content .image-profile .box {
    width: 150px;
    height: 140px;
  }
  .about-me .about-content .image-profile img {
    height: 140px;
  }
}

@media screen and (min-width: 768px) {
  .about-me .about-content .about-hr h2 {
    font-size: 2.1rem;
  }
  .about-me .about-content .about-hr h2::after {
    content: "";
    width: 7px;
    height: 7px;
  }
  .about-me .about-content .tab button {
    width: 70px;
    font-size: 1.2rem;
  }
  .about-me .about-content .tabcontent {
    width: 90%;
  }
  .about-me .about-content .tabcontent p {
    line-height: 28px;
    font-size: 1rem;
  }
  .about-me .about-content .tabcontent h3 {
    font-size: 1.5rem;
    padding-top: 20px;
  }
  .about-me .about-content .image-profile .box {
    width: 180px;
    height: 160px;
  }
  .about-me .about-content .image-profile img {
    height: 160px;
  }
}

@media screen and (min-width: 992px) {
  .about-me .about-content .about-hr {
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.6fr .7fr;
        grid-template-columns: 0.6fr .7fr;
  }
  .about-me .about-content .about-hr hr {
    margin-top: 6%;
  }
  .about-me .about-content .about-hr h2 {
    font-size: 2.5rem;
  }
  .about-me .about-content .about-hr h2::after {
    content: "";
    width: 9px;
    height: 9px;
  }
  .about-me .about-content .flex-tab {
    padding: 40px 0px 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .5fr .5fr 2fr;
        grid-template-columns: .5fr .5fr 2fr;
    grid-gap: 40px;
  }
  .about-me .about-content .flex-tab .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-me .about-content .flex-tab .tab button {
    padding: 15px;
    width: 100px;
    margin-right: 0;
  }
  .about-me .about-content .flex-tab .tab button.active {
    border-left: 1px solid #fb2335;
    border-bottom: none;
  }
  .about-me .about-content .flex-tab .image-profile {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-me .about-content .flex-tab .image-profile .box {
    margin-top: 28px;
    width: 200px;
    height: 200px;
  }
  .about-me .about-content .flex-tab .image-profile img {
    height: 200px;
  }
  .about-me .about-content .flex-tab .full-tab {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 6px;
  }
}

@media screen and (min-width: 1200px) {
  .about-me .about-content .about-hr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr .68fr;
        grid-template-columns: 0.5fr .68fr;
  }
  .about-me .about-content .about-hr hr {
    height: .2px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me .about-content .about-hr h2 {
    font-size: 3.3rem;
  }
  .about-me .about-content .about-hr::after {
    content: "";
    width: 15px;
    height: 15px;
  }
  .about-me .about-content .tab button {
    width: 150px;
    font-size: 1.6rem;
  }
  .about-me .about-content .flex-tab .tabcontent h3 {
    font-size: 2rem;
  }
  .about-me .about-content .flex-tab .tabcontent p {
    font-size: 1.4rem;
    line-height: 33px;
  }
  .about-me .about-content .flex-tab .image-profile .box {
    width: 220px;
    height: 230px;
  }
  .about-me .about-content .flex-tab .image-profile img {
    height: 230px;
  }
}

@media screen and (min-width: 1600px) {
  .about-me .about-content .about-hr {
    -ms-grid-columns: 0.5fr .72fr;
        grid-template-columns: 0.5fr .72fr;
  }
}

@media screen and (min-width: 1920px) {
  .about-me .about-content .about-hr {
    -ms-grid-columns: 0.5fr .74fr;
        grid-template-columns: 0.5fr .74fr;
  }
  .about-me .about-content .flex-tab .image-profile .box {
    width: 300px;
    height: 300px;
  }
  .about-me .about-content .flex-tab .image-profile img {
    height: 300px;
  }
}

.featured-projects {
  overflow-x: hidden;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins", san-serif;
  padding: 30px 5px;
  background-color: #FBF7EF;
}

.more-projects {
  margin-left: 8px;
  color: #B3AA94;
}

.more-projects a::after {
  content: "\2192";
  display: inline-block;
}

.more-projects a:hover {
  color: #FB2335;
}

.featured-projects-title {
  margin-left: 18px;
  font-size: 1.1rem;
  color: #B3AA94;
}

.featured-project-image-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/todo.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/todo.png");
  width: 90%;
  margin: 20px  auto;
  color: #FBF7EF;
  background-size: cover;
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
}

.featured-project-image-3 .about-project {
  padding: 20px;
}

.featured-project-image-3 .about-project p {
  margin: 20px 0px;
}

.featured-project-image-3 .about-project .tech-stack li {
  display: inline;
  margin-right: 5px;
  color: #FBF7EF;
}

.featured-project-image-3 .about-project .links {
  padding-top: 20px;
}

.featured-project-image-3 .about-project .links a {
  color: #FBF7EF;
}

.featured-project-image-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/esovis.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/esovis.png");
  width: 90%;
  margin: 20px  auto;
  color: #FBF7EF;
  background-size: cover;
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
}

.featured-project-image-2 .about-project {
  padding: 20px;
}

.featured-project-image-2 .about-project p {
  margin: 20px 0px;
}

.featured-project-image-2 .about-project .tech-stack li {
  display: inline;
  margin-right: 5px;
  color: #FBF7EF;
}

.featured-project-image-2 .about-project .links {
  padding-top: 20px;
}

.featured-project-image-2 .about-project .links a {
  color: #FBF7EF;
}

.featured-project-image {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/cat.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/cat.png");
  width: 90%;
  margin: 20px  auto;
  color: #FBF7EF;
  background-size: cover;
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
}

.featured-project-image .about-project {
  padding: 20px;
}

.featured-project-image .about-project p {
  margin: 20px 0px;
}

.featured-project-image .about-project .tech-stack li {
  display: inline;
  margin-right: 5px;
  color: #FBF7EF;
}

.featured-project-image .about-project .links {
  padding-top: 20px;
}

.featured-project-image .about-project .links a {
  color: #FBF7EF;
}

@media screen and (min-width: 768px) {
  .featured-projects-title {
    font-size: 1.5rem;
    padding: 20px 0px;
    margin-left: 30px;
  }
  .more-projects {
    margin-top: 30px;
  }
  .more-projects a {
    margin-left: 30px;
  }
  .featured-project-image, .featured-project-image-3 {
    width: 50%;
    height: 200px;
    margin-top: 10%;
    margin-left: 40%;
    margin-bottom: 10%;
  }
  .featured-project-image .about-project, .featured-project-image-3 .about-project {
    padding: 10px;
    background-color: #000c14;
    position: relative;
    right: 60%;
    width: 100%;
    height: 90%;
    top: 5%;
    -webkit-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-transform: translate(-40px);
            transform: translate(-40px);
  }
  .featured-project-image .about-project p, .featured-project-image-3 .about-project p {
    margin: 10px 0px;
  }
  .featured-project-image .about-project .tech-stack, .featured-project-image-3 .about-project .tech-stack {
    position: relative;
    bottom: -30%;
    padding-top: 5px;
  }
  .featured-project-image .about-project .tech-stack li, .featured-project-image-3 .about-project .tech-stack li {
    color: #B3AA94;
  }
  .featured-project-image .about-project .links, .featured-project-image-3 .about-project .links {
    position: relative;
    bottom: -25%;
  }
  .featured-project-image .about-project .links a, .featured-project-image-3 .about-project .links a {
    color: #B3AA94;
  }
  .featured-project-image-2 {
    width: 50%;
    height: 200px;
    margin-right: 44%;
    margin-bottom: 5%;
  }
  .featured-project-image-2 .about-project {
    padding: 10px;
    background-color: #B3AA94;
    position: relative;
    left: 60%;
    width: 100%;
    height: 90%;
    top: 5%;
    -webkit-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-transform: translate(40px);
            transform: translate(40px);
  }
  .featured-project-image-2 .about-project p {
    margin: 10px 0px;
  }
  .featured-project-image-2 .about-project .tech-stack {
    position: relative;
    bottom: -30%;
    padding-top: 5px;
  }
  .featured-project-image-2 .about-project .tech-stack li {
    color: #B3AA94;
  }
  .featured-project-image-2 .about-project .links {
    position: relative;
    bottom: -25%;
  }
  .featured-project-image-2 .about-project .links a {
    color: #B3AA94;
  }
}

@media screen and (min-width: 1000px) {
  .featured-projects-title {
    font-size: 2.5rem;
    margin-left: 60px;
  }
  .about-project h3 {
    font-size: 1.5rem;
  }
  .about-project p {
    font-size: 1.1rem;
  }
  .more-projects {
    margin-left: 32px;
  }
  .more-projects a {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .featured-project-image-3 {
    background: url("/images/todo.png");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 400px;
    margin-left: 45%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .featured-project-image-3 .about-project {
    -webkit-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background-color: transparent;
    color: #000c14;
    width: 70%;
    position: relative;
    right: 76%;
    top: 10%;
  }
  .featured-project-image-3 .about-project .tech-stack, .featured-project-image-3 .about-project .links {
    position: relative;
    bottom: 0;
  }
  .featured-project-image-3 .about-project .links a:hover {
    color: #FB2335;
  }
  .featured-project-image {
    background: url("/images/cat.png");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 400px;
    margin-left: 45%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .featured-project-image .about-project {
    -webkit-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background-color: transparent;
    color: #000c14;
    width: 70%;
    position: relative;
    right: 76%;
    top: 10%;
  }
  .featured-project-image .about-project .tech-stack, .featured-project-image .about-project .links {
    position: relative;
    bottom: 0;
  }
  .featured-project-image .about-project .links a:hover {
    color: #FB2335;
  }
  .featured-project-image-2 {
    background: url("/images/esovis.png");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 400px;
    margin-left: 4%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .featured-project-image-2 .about-project {
    -webkit-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background-color: transparent;
    color: #000c14;
    width: 70%;
    position: relative;
    left: 100%;
    top: 10%;
  }
  .featured-project-image-2 .about-project .tech-stack, .featured-project-image-2 .about-project .links {
    position: relative;
    bottom: 0;
  }
  .featured-project-image-2 .about-project .links a:hover {
    color: #FB2335;
  }
}

@media screen and (min-width: 1440px) {
  .featured-projects-title {
    font-size: 2.8rem;
    margin-left: 88px;
  }
  .about-project h3 {
    font-size: 2rem;
  }
  .about-project p {
    font-size: 1.5rem;
  }
  .more-projects {
    margin-left: 60px;
  }
  .more-projects a {
    font-size: 1.5rem;
  }
}

.contact-me {
  width: 100%;
  padding: 30px;
  background-color: #FB2335;
  color: #FBF7EF;
  font-family: "Poppins", san-serif;
}

.contact-me .contact-me-header h3 {
  font-size: 1.5rem;
}

.contact-me .contact-me-header h3::after {
  content: "";
  background-color: #FBF7EF;
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
}

.contact-me input[type=text], .contact-me input[type=email] {
  background-color: transparent;
  width: 85%;
  border: none;
  border-bottom: 1px solid #FBF7EF;
  padding: 5px;
  color: #FBF7EF;
  outline: none;
  margin: 5px 0px;
  font-family: "Poppins", san-serif;
  font-size: 1rem;
}

.contact-me input[type=text]::-webkit-input-placeholder, .contact-me input[type=email]::-webkit-input-placeholder {
  color: #FBF7EF;
  opacity: 1;
}

.contact-me input[type=text]:-ms-input-placeholder, .contact-me input[type=email]:-ms-input-placeholder {
  color: #FBF7EF;
  opacity: 1;
}

.contact-me input[type=text]::-ms-input-placeholder, .contact-me input[type=email]::-ms-input-placeholder {
  color: #FBF7EF;
  opacity: 1;
}

.contact-me input[type=text]::placeholder, .contact-me input[type=email]::placeholder {
  color: #FBF7EF;
  opacity: 1;
}

.contact-me label {
  display: block;
  margin: 15px 0px 10px;
}

.contact-me textarea {
  background-color: transparent;
  border: 1px solid #FBF7EF;
  margin: 5px 0px;
  outline: none;
  resize: none;
  margin: 5px 0px;
  width: 85%;
  padding: 10px;
  color: #FBF7EF;
  font-family: "Poppins", san-serif;
}

.contact-me .submitBtn {
  display: block;
  padding: 15px 30px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #FBF7EF;
  color: white;
  text-transform: uppercase;
  font-size: .8rem;
  width: 140px;
  height: 40px;
  text-align: center;
  margin: 10px 0px;
}

@media screen and (min-width: 576px) {
  .contact-me input[type=text], .contact-me input[type=email] {
    width: 70%;
  }
  .contact-me textarea {
    width: 70%;
  }
  .contact-me .submitBtn {
    width: 180px;
    font-size: 1rem;
    padding: 20px 30px;
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contact-me .contact-me-header h3 {
    font-size: 2rem;
  }
  .contact-me .contact-me-header h3::after {
    width: 9px;
    height: 9px;
  }
  .contact-me input[type=text], .contact-me input[type=email] {
    font-size: 1.2rem;
  }
  .contact-me label {
    font-size: 1.2rem;
  }
  .contact-me textarea {
    margin-bottom: 10px;
  }
  .contact-me .submitBtn {
    font-size: 1.2rem;
    width: 180px;
    height: 55px;
  }
}

@media screen and (min-width: 1000px) {
  .contact-me .contact-me-header h3 {
    font-size: 2.5rem;
    margin-left: 3%;
  }
  .contact-me input[type=text], .contact-me input[type=email] {
    font-size: 1.3rem;
    width: 50%;
    margin: 15px 0px;
    margin-left: 25%;
  }
  .contact-me label {
    font-size: 1.3rem;
    margin-left: 25%;
  }
  .contact-me textarea {
    width: 50%;
    margin-left: 25%;
    font-size: 1.2rem;
  }
  .contact-me .submitBtn {
    margin-left: 25%;
  }
}

@media screen and (min-width: 1440px) {
  .contact-me .contact-me-header h3 {
    font-size: 3.5rem;
  }
  .contact-me .contact-me-header h3::after {
    width: 12px;
    height: 12px;
  }
  .contact-me input[type=text], .contact-me input[type=email] {
    font-size: 1.5rem;
    margin: 20px 0px;
    margin-left: 25%;
  }
  .contact-me label {
    font-size: 1.5rem;
  }
  .contact-me .submitBtn {
    width: 200px;
    height: 60px;
    font-size: 1.3rem;
  }
}

.footer {
  background-color: #000c14;
  padding: 30px;
  color: #FBF7EF;
  font-family: "Poppins", san-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .love {
  padding: 5px;
  margin-top: 10%;
}

.footer .love p {
  font-size: .9rem;
}

.footer .social-media {
  padding: 5px 0px;
  margin-bottom: 10%;
}

.footer .social-media .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .social-media .social-links li {
  font-size: .8rem;
  margin-right: 5px;
  margin: 4px;
}

.footer .social-media .social-links a {
  color: #FBF7EF;
}

.footer .social-media .social-links a:hover {
  color: #FB2335;
}

.footer #scrollTop {
  width: 150px;
  height: 40px;
  outline: none;
  border: 2px solid #FB2335;
  color: #FB2335;
  text-transform: capitalize;
  padding: 10px 5px;
  background: transparent;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .footer .love p {
    font-size: 1.2rem;
  }
  .footer .social-media .social-links li {
    font-size: 1rem;
  }
  .footer #scrollTop {
    width: 180px;
    height: 50px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .footer .love p {
    font-size: 1.4rem;
  }
  .footer .social-media .social-links li {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1440px) {
  .footer .love p {
    font-size: 1.6rem;
  }
  .footer .social-media .social-links {
    font-size: 1.5rem;
  }
  .footer #scrollTop {
    width: 200px;
    height: 60px;
    font-size: 1.2rem;
  }
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: #FB2335;
  color: #FBF7EF;
}

*::selection {
  background-color: #FB2335;
  color: #FBF7EF;
}

body {
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* 
We start creating for mobile then add
media queries for large screens afterwards
 */
/*  Hero section
 */
.container {
  width: 100%;
  overflow-x: hidden;
  background-color: #FBF7EF;
  padding: 30px;
  font-family: "Poppins", san-serif;
}

.hero-content {
  padding: 20px 0px;
  width: 95%;
  margin: 0px auto 10%;
}

.hero-content .hero-lg-intro h1 {
  font-weight: 600;
  color: #FB2335;
  font-size: 35px;
  padding-bottom: 5px;
}

.hero-content .hero-lg-intro h1::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #FB2335;
  display: inline-block;
  border-radius: 50%;
}

.hero-content .hero-lg-intro h2 {
  font-weight: 800;
  line-height: 38px;
  color: #000c14;
  font-size: 36px;
  padding-bottom: 10px;
}

.hero-content .hero-lg-intro h2::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #000c14;
  display: inline-block;
  border-radius: 50%;
}

.hero-content .hero-lg-intro h2 span {
  color: #B3AA94;
}

.hero-content .hero-text {
  padding: 0px 0px 20px;
}

.hero-content .hero-text p {
  font-size: 0.8rem;
  line-height: 20px;
}

.hero-content .hero-btn button {
  background-color: #FBF7EF;
  width: 150px;
  height: 40px;
  outline: none;
  border: 2px solid #FB2335;
  color: #FB2335;
  text-transform: capitalize;
  padding: 10px 5px;
  cursor: pointer;
  font-size: .8rem;
  text-align: center;
  font-family: "Poppins", san-serif;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.hero-content .hero-btn button:hover {
  background-color: #FB2335;
  color: #FBF7EF;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media screen and (min-width: 576px) {
  .hero-content {
    width: 99%;
  }
  .hero-content h5 {
    font-size: 15px;
  }
  .hero-content .hero-lg-intro h1 {
    font-size: 38px;
  }
  .hero-content .hero-lg-intro h1::after {
    width: 7px;
    height: 7px;
  }
  .hero-content .hero-lg-intro h2 {
    font-size: 38px;
    font-weight: 900;
    padding-bottom: 20px;
  }
  .hero-content .hero-lg-intro h2::after {
    width: 7px;
    height: 7px;
  }
  .hero-content .hero-text {
    width: 80%;
    padding: 0px 0px 30px;
  }
  .hero-content .hero-btn button {
    width: 180px;
    height: 50px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 50px;
  }
  .hero-content h5 {
    font-size: 18px;
  }
  .hero-content .hero-lg-intro h1 {
    font-size: 40px;
  }
  .hero-content .hero-lg-intro h1::after {
    width: 8px;
    height: 8px;
  }
  .hero-content .hero-lg-intro h2 {
    font-size: 49px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .hero-content .hero-lg-intro h2::after {
    width: 9px;
    height: 9px;
  }
  .hero-content .hero-text {
    width: 70%;
  }
  .hero-content .hero-text p {
    font-size: .9rem;
  }
}

@media screen and (min-width: 1000px) {
  .hero-content {
    margin-top: 3%;
  }
  .hero-content .hero-lg-intro h1 {
    font-size: 4rem;
  }
  .hero-content .hero-lg-intro h1::after {
    width: 9px;
    height: 9px;
  }
  .hero-content .hero-lg-intro h2 {
    font-size: 4.2rem;
    line-height: 80px;
  }
  .hero-content .hero-lg-intro h2::after {
    width: 10px;
    height: 10px;
  }
  .hero-content .hero-text {
    width: 60%;
  }
  .hero-content .hero-text p {
    font-size: 1rem;
  }
  .hero-content .hero-btn button {
    width: 180px;
    height: 50px;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-content {
    width: 95%;
  }
  .hero-content .hero-text {
    width: 45%;
  }
  .hero-content .hero-text p {
    line-height: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-content h5 {
    font-size: 22px;
  }
  .hero-content .hero-lg-intro h1 {
    font-size: 4.5rem;
  }
  .hero-content .hero-lg-intro h1::after {
    width: 11px;
    height: 11px;
  }
  .hero-content .hero-lg-intro h2 {
    font-size: 4.8rem;
  }
  .hero-content .hero-lg-intro h2::after {
    width: 12px;
    height: 12px;
  }
  .hero-content .hero-text {
    width: 44%;
  }
  .hero-content .hero-text p {
    font-size: 1.1rem;
    line-height: 27px;
  }
  .hero-content .hero-btn button {
    width: 200px;
    height: 60px;
    font-size: 1.2rem;
  }
}

/* Thank you 
section */
.thank-you {
  background-color: #FBF7EF;
  font-family: "Poppins", san-serif;
  color: #000c14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  width: 100%;
}

.thank-you .thank-you-header h2 {
  font-size: 2rem;
  margin-top: 40%;
}

.thank-you .pleasant {
  margin: 0px 0px 10%;
}

@media screen and (min-width: 576px) {
  .thank-you .thank-you-header h2 {
    font-size: 2.5rem;
  }
  .thank-you .pleasant {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .thank-you .thank-you-header h2 {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 1000px) {
  .thank-you .thank-you-header h2 {
    font-size: 4rem;
  }
  .thank-you .pleasant {
    margin-top: 10%;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .thank-you .thank-you-header h2 {
    font-size: 5rem;
  }
}

@media screen and (min-width: 1440px) {
  .thank-you .thank-you-header h2 {
    font-size: 6rem;
  }
  .thank-you .pleasant {
    font-size: 2.2rem;
  }
}
/*# sourceMappingURL=main.css.map */